.main__button-grey{
  color: $white;
  background-color: #D1D1D1;
  border: 0px;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 20px;
}

.main__button-red{
  color: $white;
  background-color: $softred;
  border: 0px;
  padding: 10px 15px;
  font-size: 20px;
}
