//Colores
$white: #FFF;
$softred: #ff5454;
$ligthgray: #D1D1D1;
$smokyblack: #0C0910;
$darkgrey: #454545;
$grey: #808080;

// Tipografia
$raleway: 'Raleway', serif;
$sanse: sans-serif;

// Peso de Fuente
$ligth: 300;
$regular: 400;
$bold: 700;

//Tamaño de la Fuente
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 25px;
$large: 18px;
$medium: 16px;
