.header{
  height: 15rem;
  width: 100%;
  background-size: cover;
  background-image: url("../img/image-banner.png") ;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
}
